@import '../../common/scss/abstracts/variables';

.form-new-todo {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem;

  .form-input {
    flex-grow: 1;
    border: $border-base;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: $default-font-size;
    color: $color-grey-dark;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 0.1rem solid $color-grey-dark;
    }
  }

  .form-button {
    width: 8rem;
    margin-left: 1rem;
    background: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.4rem;
    color: $color-grey-dark;

    &:hover {
      background: $color-primary-dark;
    }
  }
}
