@import '../../../common/scss/abstracts/variables';

.todo-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: $spacing-m;
  padding: 0 $spacing-xs;
  font-size: 1.6rem;
  border-bottom: $border-base;

  &:last-child {
    border-bottom: 0;
  }

  & p {
    margin-left: $spacing-xs;
    max-width: 50rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.todo-done {
      text-decoration: line-through;
    }
  }

  & .todo-actions {
    margin-left: auto;
  }
}
