// COLORS
$color-primary: #fcea81;
$color-primary-dark: #fcce00;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BORDER
$border-base: 0.1rem solid $color-grey-light-2;

// SPACES
$spacing-xxs: 0.8rem;
$spacing-xs: 1.6rem;
$spacing-s: 2.4rem;
$spacing-m: 3.2rem;
$spacing-l: 4.8rem;
